---
const title = "Learn More | Abba Unveiled";
---
<html lang="en">
  <head><title>{title}</title></head>
  <body>
    <main>
      <h1>Learn More</h1>
      <p>Download the teaser booklet here:</p>
      <p><a href="/teaser/WhyDoesGodLookDifferent_Teaser.pdf" target="_blank">📕 Free Teaser PDF</a></p>
    </main>
  </body>
</html>

</html>
