---
import SubscribeActions from "./SubscribeActions.astro";

// Show subscribe only on blog index and posts (/blog and /blog/...)
const path = Astro.url.pathname;
const showSubscribe = path.startsWith("/blog/") || path === "/blog";

const year = new Date().getFullYear();
---

<footer>
  &copy; {year} AbbaUnveiled.com. All rights reserved.

  {showSubscribe && (
    <section class="footer-subscribe">
      <SubscribeActions />
    </section>
  )}
</footer>

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }

  .footer-subscribe {
    margin-top: 1rem;
  }
</style>
