---
// src/components/Header.astro
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro'; // if this file doesn't exist, see below
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>

    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/podcast">Podcast</HeaderLink>
      <HeaderLink href="/store">Store</HeaderLink>
      <HeaderLink href="/resources">Resources</HeaderLink>
    </div>

    <div class="social-links">
      <a href="https://m.webtoo.ls/@astro" target="_blank">
        <span class="sr-only">Follow Astro on Mastodon</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
          <path fill="currentColor" d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603..."></path>
        </svg>
      </a>
      <a href="https://twitter.com/astrodotbuild" target="_blank">
        <span class="sr-only">Follow Astro on Twitter</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
          <path fill="currentColor" d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334..."></path>
        </svg>
      </a>
      <a href="https://github.com/withastro/astro" target="_blank">
        <span class="sr-only">Go to Astro's GitHub repo</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
          <path fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53..."></path>
        </svg>
      </a>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 { margin: 0; font-size: 1em; }
  h2 a, h2 a.active { text-decoration: none; }

  nav { display: flex; align-items: center; justify-content: space-between; }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active { border-bottom-color: var(--accent); }

  .social-links, .social-links a { display: flex; }
  @media (max-width: 720px) { .social-links { display: none; } }
</style>
